@model PontoDigital_final.ViewModels.ComentarioViewModel

@{
    ViewData["Title"] = "Faça seu comentário | Ponto Digital";
    ViewData["css"] = "faleconosco-style.css";
}
<main class="container">
    <div class="content">
        <h2>Avalie o Ponto Digital</h2>
        <form action='@Url.Action("CadastrarComentario","Comentario")' method="POST" id="form">
            <div class="campo">
                <label for="assunto">Avaliação</label>
                <input type="text" name="assunto" placeholder="Exemplo: Muito bom!" maxlength="50" required>
            </div>
            <div class="campo">
                <label for="mensagem">Comentário</label>
                <!-- <input type="textarea" rows="5" cols="10"name="mensagem" id="mensagem" placeholder="Conte - nos brevemente sua experiência com o Ponto Digital" required> -->
                <textarea name="mensagem" id="mensagem" cols="30" rows="5" maxlength="300" placeholder="Conte - nos brevemente sua experiência com o Ponto Digital" form='form'></textarea>
            </div>
            <input type="submit" value="Enviar Mensagem" class="submit">
        </form>
    </div>
</main>