@{
    ViewData["Title"] = "Como funciona o ponto digital";
    ViewData["css"] = "comofunciona-style.css";
}
<main class="container">
    <div class="content">
        <h2>Conheça melhor o Ponto Digital</h2>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/K3wUUlLsbYY?start=131" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video"></iframe>
    </div>
</main>