@{
    ViewData["Title"] = "Contato | Ponto Digital";
    ViewData["css"] = "contato-style.css";
}
<main class="container">
    <div class="content">
        <h2>Contato</h2>
        <div class="flex">
            <div class="textos">
                <h3>Agora Vai</h3>
                <div>
                    <img src="~/img/email.png" alt="Ícone de email">
                    <p>pontodigital@agoravai.com</p>
                </div>
                <div>
                    <img src="~/img/telefone.png" alt="Ícone de telefone">
                    <p>+55 11 0000-0000</p>
                </div>
                <div>
                    <img src="~/img/location.png" alt="Ícone de localização">
                    <p> Av. Paulista, 999 - Bela Vista, São Paulo - SP</p>
                </div>
            </div>
            <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3968.1978020542742!2d-46.65216905184741!3d-23.56517159386533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c793cf6c05%3A0xb2ad43cb52f28874!2sAv.+Paulista%2C+999+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP%2C+01311-100!5e0!3m2!1spt-BR!2sbr!4v1552758762504"
                width="580" height="500" frameborder="0" style="border:7px solid #f2a500;border-radius:10px"
                allowfullscreen></iframe>
        </div>
    </div>
</main>