@{
    ViewData["TItle"] = "Planos | Ponto Digital";
    ViewData["css"] = "planos-style.css";
}
<main>
        <section  class="container">
            <div class="content">
                <h2>Conheça nossos planos</h2>
                <div class="flexbox">
                    <div class="blue box">
                        <h3>Plano Blue</h3>
                        <p>Até 5 funcionários</p>
                        <p class="preço">R$29,90</p>
                    </div>
                    <div class="gratis box">
                        <h3>Teste Grátis</h3>
                        <p>Um gerenciador<br>Um funcionário<br>Duração de 30 dias</p>
                        <p class="preço">R$00,00</p>
                    </div>
                    <div class="purple box">
                        <h3>Plano Purple</h3>
                        <p>Até 50 funcionários</p>
                        <p class="preço">R$149,90</p>
                    </div>
                    <div class="orange box">
                        <h3>Plano Orange</h3>
                    <p>Até 300 funcionários</p>
                    <p class="preço">R$300,00</p>
                    </div>
                    <div class="black box">
                    <h3>Plano Black</h3>
                    <p>Mais de 300 <br>funcionários</p>
                    <p class="preço">Sob consulta</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class=" pagamento content">
                <h2>Como adquirir o produto?</h2>
                <p>Para adquirir o Ponto Digital, <a href='@Url.Action("Contato","Home")'>entre em contato conosco</a> enviando um e-mail para o pontodigital@agoravai.com ou através do telefone +55 (11) 4002-8922</p>
            </div>
        </section>  
    </main>