main{
    background-color:#097bb2;
    padding-bottom:2em;
}
main .content{
    display:flex;
    flex-flow:column;
    align-content: center;
}
h2{
    color:#fff;
    text-align:center;
    padding:1.5em 0;
    font-size:3em;
}
.pessoa{
    width:80%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:2em auto;
    background-color:#fff;
    border:3px solid #ffa500;
    border-radius:30px;
}
.pessoa img{
    height:300px;
    width:300px;
    object-fit: cover;
    object-position: center;
    border:3px solid #ffa500;
    border-radius:25px 0 0 25px;
}
.texto{
    margin:auto;
    width:65%;
}
.texto h3{
    font-size:2em;
    margin-bottom:0.4em;
}
.texto p{
    font-size:1.5em;
    word-wrap: break-word;
    text-align:justify;
    margin-top:0.4em;
}
#data{
    font-size:1em;
    text-align: right;
}
main a{
    text-decoration:none;
    color:#fff;
    padding:0.5em 1em;
    font-size:1.8em;
    background-color:#F2A620;
    border:1px #f2a620;
    border-radius:10px;
    align-self: center;
}
main a:hover{
    background-color:#59C9FE;
    text-shadow:1px 1.5px 50px #000,-1px -1.5px 50px #000;
}



@media screen and (max-width:1366px){
    h2{
        padding:0.5em 0 1em 0;
        font-size:2.8em;
    }
    .pessoa{
        width:95%;
        margin:1em auto;
    }
    .pessoa img{
        height:250px;
        width:250px;
    }
    .texto h3{
        font-size:1.8em;
    }
    .texto p{
        font-size:1.2em;
    }
}


@media screen and (max-width:768px){
    h2{
        font-size:2em;
        padding:2em 0 1em 0;
    }
    .pessoa{
        border-radius:15px;
        margin:0.5em auto;
        width:100%;
    }
    .pessoa img{
        height:150px;
        width:150px;
        border-radius:10px 0 0 10px;
    }
    .texto h3{
        font-size:1em;
    }
    .texto p{
        font-size:0.85em;
        
    }
    main a{
        font-size:1em;
        margin-top:0.5em;
    }
}


@media screen and (max-width:390px){
    h2{
        font-size:1.5em;
    }
    .pessoa{
        flex-flow:column;
        background-color:#097bb2;
        color:#fff;
        padding:1em;
        width:90%;
    }
    .pessoa .texto{
        width:100%;
    }
    .pessoa img{
        border-radius:15px;
        margin-bottom:1em;
    }
}