main{
    background-color:#097bb2;
    height: calc(100vh - 4em) ;
}
h2{
    color:#fff;
    font-size:3em;
    text-align:center;
    padding-top:2em;
}
main .content{
    display:flex;
    flex-flow:column;
    align-items:center;

}
#video{
    height:550px;
    width:1000px;
    border:3px solid #f2a500;
    box-shadow: 1px 1px 30px #000;
    margin-top:2em;
}
@media screen and (max-width:1366px){
    h2{
        padding-top:0.5em;
    }
    #video{
        width:800px;
        height:400px;
    }
}

@media screen and (max-width:768px){
    h2{
        font-size:2em;
        padding-top:4em;
    }
    #video{
        width:80%;
        height:300px;
    }
}


@media screen and (max-width:390px){
    h2{
        font-size:1.5em;
        padding-top:3em;
    }
    #video{
        width:100%;
        height:173px;
    }
}