main{
    background-color:#097bb2;
    height: calc(100vh - 4em);
    color:#fff;
}
h2{
    font-size:3em;
    text-align:center;
    padding:1em;
    color:#FFF;
}
.link{
    text-align:center;
    color:#fcc;
    text-decoration:none;
    padding-top:0.5em;
    font-size:1.2em;
}