main{
    background-color:#097bb2;
    height: calc(100vh - 4em);
}
h2{
    color:#fff;
    text-align:center;
    font-size:3em;
    padding-bottom: 0.5em;
}
main a{
    text-align:center;
    color:#fcc;
    text-decoration:none;
    padding-top:0.5em;
    font-size:1.2em;
}
main a:hover{
    color:#f2a500;
}

main .content{
    display:flex;
    flex-flow:column;
    height:100%;
    justify-content:center;
}
form{
    display:flex;
    flex-flow:column;
    align-content:center;
    margin: 0 auto;
    width:35%;

}
form input{
    border:2px solid #f2a500;
    border-radius:10px;
    padding:0.5em 1em;
    margin:0.5em 0;
}
::placeholder{
    font-family: 'Comfortaa', cursive;
}
form [type="submit"]{
    font-family: 'Comfortaa', cursive;
    color:#fff;
    background-color:#f2a500;
}
#submit:hover{
    background-color:#BF8200;
    border:2px solid #BF8200;
}
#link_adm{
    font-size:1em;  
    color:#9fe1ff;
}
#link_adm:hover{
    color:#f2a500;
}



@media screen and (max-width:768px){
    h2{
        font-size:2em;
    }
    form{
        width:80%;
    }
}