@model PontoDigital_final.ViewModels.ErroViewModel
@{
    ViewData["Mensagem"] = "Faça seu cadastro";
    ViewData["Title"] = "Cadastro | Ponto Digital";
    ViewData["css"] = "faleconosco-style.css";
}
<main class="container">
    <div class="content">
        <h2>@ViewData["Mensagem"]</h2>
        
        <form action='@Url.Action("CadastrarUsuario","Usuario")' method="POST" enctype="multipart/form-data">
            <div class="campo">
                <label for="nome">Nome completo</label>
                <input type="text" name="nome" placeholder="Exemplo: Luis Inacio Lula da Silva" maxlength="80" minlength="1" required>
            </div>
            <div class="campo">
                <label for="telefone">Número de telefone</label>
                <input type="text" name="telefone" placeholder="Exemplo: (11)987654321" maxlength="18" required>
            </div>
            <div class="campo">
                <label for="email">Email</label>
                <input type="email" name="email" maxlength="50" id="email" placeholder="Exemplo: email@hotmail.com" required>
            </div>
            <div class="campo genero">
                <label for="genero">Gênero</label>
                <select name="genero" id="genero" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                    <option value="OUTRO">Outro</option>
                </select>
            </div>
            <div class="campo">
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" placeholder="Exemplo: Av. Paulista, 999, Centro, São Paulo-SP" maxlength="70" required>
            </div>
            <div class="campo">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" name="dataNascimento" placeholder="Data de Nascimento" required>
            </div>
            <div class="campo">
                <label for="empresa">Empresa em que trabalha</label>
                <input type="text" name="empresa" placeholder="Exemplo: Agora Vai" maxlength="50" required>
            </div>
            <div class="campo">
                <label for="cnpj">CNPJ da empresa</label>
                <input type="text" name="cnpj" placeholder="Exemplo: XX.XXX.XXX/YYYY-ZZ" maxlength="40" required>
            </div>
            <div class="campo">
                <label for="foto">Foto de perfil (opcional)</label>
                <input type="file" name="foto">
            </div>
            <div class="campo">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Nova Senha" required minlength="8" maxlength="40">
            </div>
            <div class="campo">
                <label for="confirmarSenha">Confirme sua senha</label>
                <input type="password" name="confirmarsenha" placeholder="Confirmar Senha" required minlength="8"
                    maxlength="40">
            </div>
            <input type="submit" value="Cadastrar" class="submit">
        </form>
    </div>
</main>